body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

.jumbotron {
    background-image: url(../img/slider6.jpg);
    width: 100%;
}

section {
    min-height: 420px;
}

.card img {
    height: 270px;
}

footer {
    min-height: 90px;
    padding-top: 12px;
}

footer p {
    line-height: 90px;
}

.ig-thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.ig-thumbnail img {
    width: 100px;
}